<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script>
            function fetchReviews(hotelName, username, isPageLoad, isNext){
                var requestString = '/fetchReviews?hotelName='+ hotelName;
                var pageNumber = 0;
                 var currentPageElement = document.getElementById('currentPage');
                 if (currentPageElement) {
                     var offset = currentPageElement.textContent.trim();
                    console.log(offset);
                    console.log(currentPageElement);
                 }
                 if(isPageLoad==true){
                    requestString = requestString + '&offset=0&limit=10';
                 }
                 else{
                     if(isNext==true){
                        pageNumber = Number(document.getElementById('currentPage').textContent) + 1;
                        var offset = Number(pageNumber)*10;
                        requestString = requestString + '&offset='+offset+'&limit=10';
                     }
                     else{
                         if(Number(document.getElementById('currentPage').textContent) - 1>=0){
                            pageNumber = Number(document.getElementById('currentPage').textContent) - 1;
                            var offset = Number(pageNumber)*10;
                            requestString = requestString + '&offset='+offset+'&limit=10';
                         }
                     }
                 }
                fetch(requestString, {method :'get'}).
                    then(res => res.json()).
                    then(data => {
                    console.log(data);
                    if(data.success==true){
                        document.getElementById('currentPage').textContent  = pageNumber;
                        var rows = "<thead style= 'background-color: #6dae67; color: white;text-color: black;'><tr>"
                            +"<th>Title</th>"
                            +"<th>ReviewText</th>"
                            +"<th>Rating</th>"
                            +"<th>User</th>"
                            +"<th>Date</th>"
                            +"</tr></thead>";
                        for (var i = 0; i < data.reviews.length; i++){
                             rows = rows + "<tr>" +
                            "<td>" + data.reviews[i].title + "</td>" +
                            "<td>" + data.reviews[i].reviewText + "</td>" +
                            "<td>" + data.reviews[i].overallRating + "</td>" +
                            "<td>" + data.reviews[i].user + "</td>" +
                            "<td>" + data.reviews[i].date + "</td>";
                            rows = rows +"</tr>";
                    }
                        rows = rows +"</thead>";
                        document.getElementById('tablearea').innerHTML = rows;
                    }
                    else{
                        if(isNext==true){
                            document.getElementById('currentPage').textContent = pageNumber - 1;
                        }
                        if(isPageLoad==true){
                            var message = "<h3>No reviews found</h3>";
                            document.getElementById('currentPage').textContent = pageNumber;
                            document.getElementById('reviewContent').innerHTML = message;
                        }
                     }
                 }).
                catch(err => {
                    console.log(err);
                });
            };
        function fetchWeatherData(latitude, longitude){
            var requestString = 'https://api.open-meteo.com/v1/forecast?latitude='+ latitude +"&longitude="+ longitude + "&current_weather=true";
            console.log(requestString);
            fetch(requestString, {method :'get'}).
            then(res => res.json()).
            then(data => {
               document.getElementById("temperature").innerText = data.current_weather.temperature;
               document.getElementById("windSpeed").innerText = data.current_weather.windspeed;
               document.getElementById("windDirection").innerText = data.current_weather.winddirection;
            }).
            catch(err => {
                console.log(err);
            });
        }

    </script>
    <title>TravelHelper</title>
    </head>
    <style>
        body {
            font-family: "Times New Roman", Times, serif;
            background-color: white;
        }
        .custom-btn-text-color {
            color: #000;
        }
        .custom-jumbotron {
            width: 100%;
            height: 800%;
            padding-left: 50px;
            padding-top: 20px;
            border: 1px solid black;
       }
        h2 {
            text-align: center;
        }
        .custom-navbar {
            margin-left: 50 px;
            padding: 30 px;
            padding-bottom: 30 px;
            overflow: hidden;
            background-color: #6dae67;
            min-height: 50px;
            font-size:130%;
            color: black;
        }
        .custom-navbar .navbar-nav > li > a {
            color: black;
            transition: background-color 0.3s;
        }
        .custom-navbar .navbar-nav > li > a:hover {
            color: black;
            background-color: white;
        }
        .custom-table {
            margin-left: -150px;
            margin-right: -150px;
        }
        .table-striped tbody tr:nth-child(odd) {
            background-color: #f2f2f2;
        }
        .table-striped thead {
            background-color: #6dae67;
            color: white;
            text-color: black;
        }
        .table-striped th,td {
            color: black
        }
        .btn-success{
            background-color: #6dae67;
            color: black;
        }
    </style>
    <body>
        <nav class="navbar navbar-default custom-navbar">
            <div class="container-fluid d-flex justify-content-end">
                <ul class="nav navbar-nav">
                    <li><a href="/home">Home</a></li>
                    <li><a href="/hotelSearch">Hotel Search</a></li>
                    <li><a href="/expediaHistory">Expedia History</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Logout</a></li>
                </ul>
            </div>
        </nav>
        <h2>Hotel Details</h2>
        <form>
            <div class="container">
                <div class="table-responsive custom-table">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th>Average Rating</th>
                                <th>Expedia Link</th>
                                <th>Map Link</th>
                            </tr>
                        </thead>
                        <tbody>
                            <td th:text="${hotel.hotelId}"></td>
                            <td th:text="${hotel.hotelName}"></td>
                            <td th:text="${hotel.address + ', ' + hotel.city + ', ' + hotel.state + ', ' + hotel.country}"></td>
                            <td th:text="${averageRating}"></td>
                            <td><a th:href="${expediaLink}" target="_blank">Go to Expedia</a></td>
                            <td><a th:href="@{~/map(lat=${hotel.latitude}, lon=${hotel.longitude})}" target="_blank">Go to Map</a></td>
                        </tbody>
                    </table>
                </div>
            </div><br>
            <h2>Weather</h2>
            <div class="container">
            <div class="table-responsive custom-table">
            <table id="weatherTable" class="table table-bordered table-striped" >
                <thead>
                    <tr>
                        <th>Parameter</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tr>
                    <td>Temperature</td>
                    <td id="temperature"></td>
                </tr>
                <tr>
                    <td>Wind Speed</td>
                    <td id="windSpeed"></td>
                </tr>
                <tr>
                    <td>Wind Direction</td>
                    <td id="windDirection"></td>
                </tr>
            </table>
            <h2>Reviews</h2>
                    <div class="container">
                        <div class="table-responsive custom-table">
                            <table class="table table-bordered table-striped" id="tablearea">
                            </table>
                        </div>
                        <div class="alert alert-primary text-center" id="reviewContent" role="alert"></div>
                    </div>
                    <div class="row text-center">
                        <div class="col-md-12">
                            <a class="btn btn-info btn-success" th:attr="onclick='fetchReviews(\'' + ${hotel.hotelName} + '\', \'' + ${username} + '\', false, false)'">
                                <span class="glyphicon glyphicon-arrow-left"></span> Prev
                            </a>
                            <span id="currentPage">1</span>
                            <a class="btn btn-info btn-success" th:attr="onclick='fetchReviews(\'' + ${hotel.hotelName} + '\', \'' + ${username} + '\', false, true)'">
                                <span class="glyphicon glyphicon-arrow-right"></span> Next
                            </a>
                        </div>
                    </div>
                <script th:inline="javascript">
                var latitude = [[${hotel.latitude}]];
                var longitude = [[${hotel.longitude}]];
                fetchWeatherData(latitude, longitude);
                var hotelName = [[${hotel.hotelName}]];
                var username = 'username';
                var param1 = false;
                var param2 = false;
                fetchReviews(hotelName, username, param1, param2);
                </script>
            <input type="hidden" name="hotelId" th:value="${hotel.hotelId}" />
            <input type="hidden" name="hotelName" th:value="${hotel.hotelName}" />
            <input type="submit" value="Save Favourite" class="btn btn-success mb-2 custom-btn-text-color border border-primary" formaction="/favouriteHotel">
            <input type="submit" value="Add Reviews" class="btn btn-success mb-2 custom-btn-text-color border border-primary" formaction="/addReviews">
            <input type="submit" value="Edit Reviews" class="btn btn-success mb-2 custom-btn-text-color border border-primary" formaction="/deleteReviews">
            </div>
            </div>
        </form><br>
        <div class="container">
            <div class="table-responsive custom-table">
                <form method = "get" action="/hotels">
                    <input type="hidden" name="word" th:value="${word}" />
                    <div class="form-actions">
                        <div class="form-group">
                            <input id="back" class="btn btn-success mb-2 custom-btn-text-color border border-primary" type="submit" value="Back"></input>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>