<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>TravelHelper</title>
    </head>
    <style>
        body {
            font-family: Helvetica, sans-serif;
            background-color: white;
        }
        ul {
            margin: 20;
            padding: 0;
            overflow: hidden;
            background-color: #6dae67;
            min-height: 40px;
            border: 1px solid black;
        }
   </style>
    <body>
        <ul th:fragment="userNavBar">
            <a href="/home">Home</a>
            <a style="float:right"/> <a class="active" href="/logout">Logout</a>
        </ul>
        Successfully registered!
        <form method="get" action="/login">
            <div class="form-actions">
                <input type="submit" value="Back" class="button">
            </div>
        </form>
    </body>
</html>